GreenAI_PlantTwin/n8n/irrigation_workflow.json
[
    {
        "name": "Bio-Irrigation Actuator",
        "nodes": [
            {
                "parameters": {
                    "url": "http://localhost:5002/api/state",
                    "options": {}
                },
                "name": "Check Bio-State",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4,
                "position": [
                    250,
                    300
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "number": [
                            {
                                "value1": "={{$node[\"Check Bio-State\"].json[\"soil_moisture\"]}}",
                                "operation": "smaller",
                                "value2": 35
                            }
                        ]
                    }
                },
                "name": "Thirst Detection",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    450,
                    300
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://localhost:5002/api/water",
                    "options": {}
                },
                "name": "Irrigate Plant",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4,
                "position": [
                    650,
                    200
                ]
            }
        ],
        "connections": {
            "Check Bio-State": {
                "main": [
                    [
                        {
                            "node": "Thirst Detection",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Thirst Detection": {
                "main": [
                    [
                        {
                            "node": "Irrigate Plant",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        }
    }
]